{%extends 'menu.html' %} {% block content %}
<div>
  <h2 align="center">Search Result</h2>
  {% if products|length < 1 %}
    <p align="center">No result found for the search - <b>{{ search }}</b></p>
  {% endif %}
   <div class="row">
    {% for product in products %}
    <div class="col">
      <div class="card" style="width: 18rem; height: 30rem">
        <img
          src="{{product.image_url}}"
          class="card-img-top"
          alt="..."
          height="325 rem"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">{{ product.price }}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
