  body{
    background-color: rgb(215, 234, 250);
  }
  .login_div {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: auto;
    border:3px;
    border-color: black;
  }

  .button {
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
  }

  h1 {
    text-align: center;
    color: black;
  }
  h2 {
    text-align: center;
    color: black;
  }
  h3 {
    text-align: center;
    color: black;
  }
  h4 {
    text-align: center;
    color: black;
  }
  h5 {
    text-align: center;
    color: black;
  }
  h6 {
    text-align: center;
    color: black;
  }

  td,
  th {
    padding: 5px;
  }
  h4{
    text-align: center;
  }