
  {%extends "base.html" %}
  
  {% block content %}

    <div class="container-fluid" style="padding: 35px 135px;">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 bg_section_login">
            <img class="logo" src="images/13.jpg" alt=""/>
          </div>
          
        {% if error %}
        {{ error }}
        {% endif %}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 login_section">
        <h1 style="font-family: Calibri Light;"><b><i>Log in</i></b></h1>
      
        <form action="" method="POST">
          {% csrf_token %}
          

          <div style="width: 250px;">
            <input type="text" class="form-control" name="username" placeholder="Username" required><br>
          
            <input type="password" class="form-control" name="password" placeholder="Password" required><br>
          </div>
          <button type="submit" class="btn btn-primary">LOG IN</button><br><br>
          <h5></h5><a href="/login/forgot_password/">Forgot Password</a><br><br></h5>
          <h5>New User ? <a href="/login/signup/">Click Here</a></h5>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
