
    {%extends 'base.html' %}
    {% block content %}
    

    <div class="container-fluid" style="margin: 35px 120px;">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 bg_section_signup">
              <img class="logo" src="images/13.jpg" alt=""/>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 signup_section">
              
            {% if error %}
            {{ error }} 
            {% endif %}
          <h1 style="font-family: Calibri Light;"><b><i>SignUp</i></b></h1>
        <div style="width: 240px;">
            
          <form action="" method="POST">
              {% csrf_token %}
            <input type="text" class="form-control" name="fname" placeholder="Enter First name" required/><br>
                
            <input type="text" class="form-control" name="lname" placeholder="Enter End name"  required/><br>
        
            <input type="email" class="form-control" name="email" placeholder="email" required /><br>
        
            <input type="text area" class="form-control" name="address" placeholder="Enter Address" required /><br>
        
            <input width="5px" class="form-control" type="text" name="phone_number" placeholder="Phone number" required /><br>
        
            <input type="text" class="form-control" name="username" placeholder="username" required /><br>
        
            <input type="password" class="form-control" name="password" placeholder="password" required /><br>
        
            <input type="password" class="form-control" name="confirm_password" placeholder="confirm password" required /><br>
        
            
            <button type="submit" class="btn btn-primary">Sign Up!!</button>
         
          </form>
        </div>
      </div>
    </div>
{% endblock %}