{%extends 'base.html' %}
{% block content %}

    {% csrf_token %}
    
    <div class="container-fluid" style="margin: 30px 70px;">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 bg_section_signup">
              <img class="logo" src="images/logo_m.png" alt=""/>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 signup_section">
          <h1 style="font-family: Calibri Light;"><b><i>Update</i></b></h1>
        <div style="width: 240px;">
            
    {% if error %}
    <h4>{{ error }} </h4>
    {% endif %}
          <form action="" method="POST">
            <input type="text" class="form-control" name="fname" placeholder="Enter First name"/><br>
                
            <input type="text" class="form-control" name="lname" placeholder="Enter End name" /><br>
        
            <input type="email" class="form-control" name="email" placeholder="email" /><br>
        
            <input type="text area" class="form-control" name="address" placeholder="Enter Address" /><br>
        
            <input width="5px" class="form-control" type="text" name="phone_number" placeholder="Phone number" /><br>
        
            <input type="text" class="form-control" name="username" placeholder="username" /><br>
        
            <input type="password" class="form-control" name="password" placeholder="password" /><br>
            
            <button type="submit" class="btn btn-primary">Update!!!</button>
         
          </form>
        </div>
      </div>
    </div>
</form>

{% endblock %}