@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body {
    background: #222222;
    font-family: 'Montserrat', sans-serif;
}
.section-title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #1DE9B6;
    padding-bottom: 30px;
}

.section-desc{
    font-size: 1rem;
    color: white;
    text-align: justify;
}

.preloader {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
    width: 150px;
    height: 150px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #111111;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: white;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-circle2 {
    border-top-color: #111111
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* padding-top: 6px; */
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

#header {
    padding: 20px 0;
    height: 72px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: transparent;
}

#header.header-scrolled {
    transition: all 0.5s;
    background: #111111;
}

#header #logo {
    float: left;
}

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 60px;
    }
}

#header #logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: white;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: black;
    padding-left: 10px;
    border-left: 4px solid black;
}

#header #logo img {
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 60px;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
    }

    #header {
        padding: 25px 0;
    }

    #header #logo img {
        max-height: 50px;
    }
}


/* nav menu */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 60px;
    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 5px 25px 10px 25px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: 0.35s ease;
}
.nav-menu a:hover{
    border-bottom: 3px solid #1DE9B6;
}
.nav-menu>.menu-active>a {
    color: #1DE9B6;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 18px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: white;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 20px;
    bottom: 0;
    z-index: 998;
    background: #111111;
    right: -250px;
    width: 250px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 500;
}

#mobile-nav ul li a:hover {
    color: #1DE9B6;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
    /* color: white; */
}


#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    right: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: black;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.5)),url(images/hero.jpg);
    background-size: 100% 100%;
    /* background-position: top; */
}

@media (max-width: 768px) {
    .jumbotron{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

html{
    scroll-behavior: smooth;
}

#landing .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#landing .container p{
    color: white;
    margin-bottom: 3px;
}

#landing .container .hello{
    font-size: 40px;
    font-weight: 400;
}

#landing .container .name{
    font-size: 50px;
    font-weight: 800;
}

#landing .container .intro{
    font-size: 20px;
    font-weight: 400;
}

#landing .container button{
    margin-top: 15px;
    border: 1px solid white;
    padding: 7px 21px;
    color: white;
    background: transparent;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

#landing .container button:hover{
    background: rgba(255, 255, 255, 0.3);
}
#about .row .about-image{
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
#about .row .desc{
    padding-top: 150px;
}
@media (max-width:768px){
    #landing .container .name{
        font-size: 40px;
        font-weight: 700;
    } 
}
.hexagon {
    position: relative;
    width: 500px; 
    height: 288.68px;
    margin: 144.34px 0;
    background-image: url(images/AG7I5195.JPEG);
    background-size: auto 542.7093px;
    background-position: center;
    border-left: solid 15px #111111;
    border-right: solid 15px #111111;

  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 353.55px;
    height: 353.55px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 58.22px;
  }
  
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 470.0000px;
    height: 271.3546265191241px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-135.6773px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-135.6773px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-135.6773px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -176.7767px;
    border-top: solid 21.2132px #111111;
    border-right: solid 21.2132px #111111;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -176.7767px;
    border-bottom: solid 21.2132px #111111;
    border-left: solid 21.2132px #111111;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: 8.6603px;
    left: 0;
    width: 470.0000px;
    height: 271.3546px;
    z-index: 2;
    background: inherit;
  }

@media (max-width:1200px){
    #about .row .desc{
        padding-top: 30px;
    }
    .hexagon {
        position: relative;
        width: 300px; 
        height: 173.21px;
        margin: 86.60px 0;
        background-image: url(../img/AG7I5195.JPEG);
        background-size: auto 311.7691px;
        background-position: center;
      }
      
      .hexTop,
      .hexBottom {
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        overflow: hidden;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background: inherit;
        left: 28.93px;
      }
      
      /*counter transform the bg image on the caps*/
      .hexTop:after,
      .hexBottom:after {
        content: "";
        position: absolute;
        width: 270.0000px;
        height: 155.884572681199px;
        -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-77.9423px);
        -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-77.9423px);
        transform:          rotate(45deg) scaleY(1.7321) translateY(-77.9423px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit;
      }
      
      .hexTop {
        top: -106.0660px;
      }
      
      .hexTop:after {
        background-position: center top;
      }
      
      .hexBottom {
        bottom: -106.0660px;
      }
      
      .hexBottom:after {
        background-position: center bottom;
      }
      
      .hexagon:after {
        content: "";
        position: absolute;
        top: 8.6603px;
        left: 0;
        width: 270.0000px;
        height: 155.8846px;
        z-index: 2;
        background: inherit;
      }
}

#skills .card{
    margin: 15px 0;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
    height: 200px;
}

#skills .card p{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
}

#achievements .type{
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

#achievements .type ol li{
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}

#achievements .type ol li a{
    color: white;
    
}

#contact{
    text-align: center;
}

#contact a{
    color: white;
    font-size: 2rem;
    margin: 0 20px;
}
#contact a:hover{
    color: #1DE9B6;
    font-size: 2rem;
    margin: 0 20px;
}

footer{
    margin-top: 30px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #1DE9B6;
    background: rgb(29, 29, 29);
    padding: 12px;
 }

footer p{
    font-size: 1rem;
    font-weight: 500;
}