  body{
    background-color: rgb(215, 234, 250);
  }
  .login_div {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: auto;
    border:3px;
    border-color: black;
  }

  .button {
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
  }
  
  #footerline{
    text-align: right;
    padding-right: 15%;
  }
  
   /* {
    padding: 5px;
    border:1px solid black;
  } */